.select-native {
  background-color: var(--color-3);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-4);
  font-family: inherit;
  font-size: var(--font-size-m);
  cursor: pointer;
  height: var(--icon-size-l);

  &:hover,
  &:focus-visible {
    outline: var(--outline-default);
    outline-offset: 1px;
  }

  .menu.expanded & {
    width: 100%;
  }

  .menu.compact & {
    width: 3rem;
    text-align: center;
    position: relative;
  }
}
