.article-body {
  overflow: auto;
}

.article-container {
  display: grid;
  max-width: var(--readable-width);
  margin-inline: auto;
  padding: var(--gap);
  gap: var(--gap);
  color: var(--color-4);
}

.home-link {
  padding: var(--gap-double) var(--gap);
  transform: rotate(90deg) scale(1.2);
}
