.article-body {
  overflow: auto;
}

.article-container {
  max-width: var(--readable-width);
  margin-inline: auto;
  padding: var(--gap);
  gap: var(--gap);
  color: var(--color-4);

  img {
    max-width: 100%;
  }
}

.home-link {
  position: absolute;
  top: 0;
  left: 0;
}

.home-link-icon {
  padding: var(--gap-double) var(--gap);
  transform: rotate(90deg) scale(1.2);
}
