.article-body {
  overflow: auto;
}

.article-container {
  display: grid;
  max-width: var(--readable-width);
  margin-inline: auto;
  padding: var(--gap);
  gap: var(--gap);
  color: var(--color-4);
}

.sticky-stanisav {
  width: 100%;
  height: 50vh;
}
