.control-section {
  h3 {
    margin: var(--gap-double) 0 var(--gap-half);
  }
}

.control-item {
  label {
    display: flex;
    margin-bottom: var(--gap-half);
  }

  fieldset {
    margin: 0;
    border: none;
    padding-block: var(--gap);
  }

  legend {
    font-size: var(--font-size-m);
    margin: 0;
  }

  &.checkbox-control label {
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-half);
  }

  &.range-control {
    display: flex;
    flex-direction: column;
    label {
      justify-content: space-between;
      margin-bottom: var(--gap);
    }
  }
}

.controls-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-double);
}

.advanced-controls {
  .controls-grid {
    grid-template-columns: 1fr;
  }

  .accordion-item-title {
    display: flex;
    gap: var(--gap);
    width: 100%;

    button {
      display: flex;
      gap: var(--gap);
      padding: 0;
      font-size: var(--font-size-l);
      background: none;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  .control-group {
    &.collapsed {
      padding-bottom: var(--gap);
    }
  }

  .control-item {
    label {
      margin-bottom: 0;
    }
  }

  .value {
    display: flex;
    gap: var(--gap);
  }

  .reset-button {
    padding: 0;
    background: none;
    width: var(--icon-size-m);
    height: var(--icon-size-m);

    .reset-icon {
      transform: scale(-0.8, 0.8);
    }
  }
}
