.control-section {
  h3 {
    margin: var(--gap-double) 0 var(--gap-half);
  }
}

.control-item {
  label {
    display: flex;
    margin-bottom: var(--gap-half);
  }

  fieldset {
    margin: 0;
    border: none;
    padding-block: var(--gap);
  }

  legend {
    font-size: var(--font-size-m);
    margin: 0;
  }

  &.checkbox-control label {
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-half);
  }

  &.range-control label {
    justify-content: space-between;
  }
}

.controls-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-double);
}
