/* FiltersTab header row */
.filters-tab-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--gap);

  .control-item {
    margin: 0;
  }
}

.filter-group:focus-visible {
  outline: var(--outline-default);
  border-radius: var(--border-radius);
}

.filter-group-title {
  margin: 0 0 var(--gap-half);
  font-weight: normal;
  display: inline;
}

.info-link {
  text-decoration: none;
  margin-left: var(--gap);
}

.filter-group-info {
  margin-left: var(--gap-half);
  vertical-align: baseline;
}

.results-fieldset {
  margin-top: var(--gap-double);
}

.filter-empty-message {
  margin: var(--gap-double) 0;
  padding: var(--gap) var(--gap-double);
  border-radius: var(--border-radius);
  background: var(--color-error);
  box-shadow: var(--shadow-strong);
}

.filter-empty-message:focus-visible {
  outline: var(--outline-default);
}
