.flowers {
  --flower-step: 50;
  --flower-center: 40;
  --w: 8rem;
  --h: 10%;

  position: absolute;
  bottom: var(--gap-double);
  left: var(--gap-double);
  width: calc(100% - 2 * var(--gap-double));
  height: var(--h);
  color: var(--color-4);

  .flower-stem {
    --mid: calc((var(--count) + 1) / 2);
    --half-span: calc((var(--count) - 1) / 2);
    --norm: calc((var(--i) - var(--mid)) / var(--half-span));
    --o: calc(
      var(--norm) * -1 * var(--flower-step) - sign(var(--norm)) *
        var(--flower-center)
    );
    --angle: calc(var(--o) * 1deg);
    --left: calc((var(--i) - 1) / (var(--count) - 1) * 100%);

    position: absolute;
    left: var(--left);
    top: var(--w);
    transform: translateX(-50%);
    pointer-events: none;

    input {
      display: block;
      width: var(--w);
      margin-top: calc(abs(var(--o)) * -1px / 2 - var(--w) / 2);
      transform-origin: bottom center;
      transform: rotate(var(--angle));
      pointer-events: auto;
    }
  }
}
