.flowers {
  --flower-step: 70deg;
  --flower-center: 20deg;
  position: absolute;
  bottom: var(--gap-double);
  left: var(--gap-double);
  width: calc(100% - 2 * var(--gap-double));
  height: 10%;
  color: var(--color-4);

  .flower-stem {
    position: absolute;
    left: calc((var(--i) - 1) / (var(--n) - 1) * 100%);
    transform: translateX(-50%);

    input {
      display: block;
      width: 10rem;
      transform-origin: bottom center;
      transform: rotate(
        calc(
          (var(--i) - (var(--n) + 1) / 2) / ((var(--n) - 1) / 2) *
            calc(-1 * var(--flower-step)) -
            sign((var(--i) - (var(--n) + 1) / 2)) * var(--flower-center)
        )
      );
    }
  }
}
