/* Language group container */
.language-group-container {
  margin-inline-start: 0;
}

.group-header {
  color: var(--color-4);
  font-size: var(--font-size-l);
}

.languages-in-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.languages-in-group li {
  margin: 0;
  padding: 0;
}

.languages-in-group li:has(.mini-stanisav) {
  flex-basis: 100%;
}

.language-item-button {
  position: relative;
  color: var(--color-1);
  transition: width var(--transition);
  width: fit-content;
  box-sizing: border-box;

  &.selected {
    width: 100%;
    background: var(--color-current) !important;
    color: var(--color-4);
    @media (max-width: 640px) {
      border-style: solid;
      background: var(--color-1) !important;
      font-size: var(--font-size-l);
      border-width: var(--border-width-thick);
    }
  }

  &.has-mini-stanisav {
    height: var(--mini-stanisav-button-height);
    overflow: hidden;
  }

  .previewed:not(.selected) {
    outline: var(--outline-default);
    outline-offset: 1px;
    outline-style: dashed;
  }
}

.mini-stanisav {
  position: relative;
  width: 100%;
  height: var(--mini-stanisav-height);
  margin-inline: auto;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-stanisav canvas {
  display: block;
  object-fit: contain;
}

.lineage-group.nested {
  margin-inline-start: var(--gap-double);
}

.lineage-children {
  margin-top: var(--gap-half);
}
