/* Language group container */
.language-group-container {
  margin-inline-start: 0;
}

.group-header {
  color: var(--color-4);
  font-size: var(--font-size-l);
}

.languages-in-group {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;

    &:has(.mini-stanisav) {
      flex-basis: 100%;
      height: var(--mini-stanisav-button-height);
      overflow: hidden;
      position: relative;

      .language-item-button {
        background: none;
      }
    }
  }

  .selfie-button {
    top: calc(-2 * var(--gap-double));
    right: var(--gap);
  }
}

.language-item-button {
  position: relative;
  color: var(--color-1);
  transition: width var(--transition);
  width: fit-content;

  .languages-list.wrapped & {
    display: flex;
    align-items: center;
    gap: var(--gap-half);
    background-color: var(--color-1);
    border: var(--border);
    width: calc(
      var(--panel-width) - var(--gap-double) * 2 - var(--border-width-thick) * 2
    );
    padding: 0;
    text-align: left;
    box-sizing: border-box;
  }

  &.selected {
    width: 100%;
    background: none;
    color: var(--color-4);
    pointer-events: none;
  }

  .previewed:not(.selected) {
    outline: var(--outline-default);
    outline-offset: 1px;
    outline-style: dashed;
  }
}

.language-selfie {
  width: 50%;
  width: calc(var(--panel-width) / 2);
  object-fit: cover;
}

.lineage-group.nested {
  margin-inline-start: var(--gap-double);
}

.lineage-children {
  margin-top: var(--gap-half);
}
