/* LocaleLinks component styles */

.locale-dropdown-nav {
  position: relative;
  display: inline-block;
}

.locale-dropdown-toggle {
  background: var(--color-3);
  color: var(--color-5);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-normal);
  padding: var(--gap) var(--gap-double);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--gap-half);
  box-shadow: var(--shadow-mild);
}

.locale-dropdown-toggle:focus-visible {
  outline: var(--outline-default);
  z-index: 1;
}

.locale-dropdown-arrow {
  margin-left: var(--gap-half);
  font-size: var(--font-size-normal);
  pointer-events: none;
}

.locale-dropdown-list {
  position: absolute;
  z-index: 1;
  background: var(--color-3);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-strong);
  margin: 0;
  padding: var(--gap-double);
  list-style: none;
  top: calc(100% + var(--gap-half));
  left: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--panel-width);
  gap: var(--gap);
}

.locale-dropdown-option {
  padding: var(--gap);
  cursor: pointer;
  color: var(--color-5);
  background: none;
  border: none;
  text-align: start;
  font-size: var(--font-size-normal);
  text-decoration: none;
  display: block;
}

.locale-dropdown-option:focus-visible,
.locale-dropdown-option:hover {
  outline: var(--outline-default);
  border-radius: var(--border-radius);
}
