/* Control panel styles */
.menu {
  width: var(--panel-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-1);
  border-inline-start: var(--border);
  padding: var(--gap-double);
  color: var(--color-4);
  font-size: var(--font-size-m);
  overflow: visible;
  box-sizing: border-box;

  html.rtl & {
    border-left: none;
    left: 0;
    right: auto;
    direction: rtl;
  }

  @media (max-width: 640px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

.menu-wrapper {
  position: relative;
  z-index: 1;

  @media (max-width: 640px) {
    width: 100%;
  }
}

.menu-essentials {
  position: absolute;
  top: var(--gap);
  right: var(--gap);
  display: flex;
  align-items: center;
  gap: var(--gap);

  html.rtl & {
    right: auto;
    left: var(--gap-double);
  }

  .playlist-button {
    border-radius: 50%;
    padding: var(--gap-half);
    display: flex;
  }
}

.menu-header-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: var(--gap);
  gap: var(--gap);
}

.tabs-inner {
  padding: 0 var(--gap-half);
}

.tabs-scroll-area {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.radio-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap);
}

.radio-option {
  display: flex;
  align-items: center;
  gap: var(--gap);

  input[type="radio"] {
    margin: 0;
  }
}
