html.rtl .playlist-controls .begin-icon,
html.rtl .playlist-controls .prev-icon,
html.rtl .playlist-controls .next-icon {
  transform: scaleX(-1);
}

.playlist-controls {
  top: var(--gap-double);
  left: var(--gap-double);
  right: auto;
  display: flex;
  gap: var(--gap);
  align-items: center;
}

.playlist-controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gap);
}

.playlist-controls button:disabled {
  cursor: not-allowed;
}

.playlist-progress {
  min-width: fit-content;
  text-align: center;
}
