.playlist-controls {
  position: absolute;
  top: var(--gap-double);
  left: var(--gap-double);
  display: flex;
  gap: 8px;
  align-items: center;
  z-index: 10;

  button {
    background-color: var(--color-interactive);
    border: 1px solid var(--color-interactive);
    color: var(--color-text);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .playlist-main {
    border-radius: var(--border-radius);
    background: var(--color-video);
    border: none;
    box-shadow: var(--shadow-mild);
    color: var(--color-text);
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .playlist-progress {
    min-width: fit-content;
    text-align: center;
    color: var(--color-text);
  }
}
