html.rtl .playlist-controls .begin-icon,
html.rtl .playlist-controls .prev-icon,
html.rtl .playlist-controls .next-icon {
  transform: scaleX(-1);
}

.playlist-controls {
  top: var(--gap-double);
  left: var(--gap-double);
  right: auto;
  display: flex;
  gap: var(--gap);
  margin-block: var(--gap-double);
  align-items: center;
}

.playlist-controls button {
  background-color: var(--color-3);
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gap);
}

.playlist-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.playlist-main {
  border-radius: var(--border-radius);
  background: var(--color-video);
  border: none;
  box-shadow: var(--shadow-mild);
  color: var(--color-5);
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist-progress {
  min-width: fit-content;
  text-align: center;
  color: var(--color-5);
}
