.properties {
  width: var(--panel-width);
  height: var(--panel-width);
  overflow: auto;
  background: var(--color-2);
}

.properties-title {
  text-align: center;
  margin-top: 0;
}

.properties-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--gap-double);
  box-sizing: border-box;
  align-items: stretch;
}

.properties-item {
  display: flex;
  flex-direction: column;
  background: var(--color-1);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--gap);
  gap: var(--gap);
  width: 100%;
  box-sizing: border-box;
  height: 100%;

  &[aria-current] {
    background: var(--color-current);
  }
}

.properties-label {
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
  margin: 0;
  text-align: left;
}

html.rtl .properties {
  direction: rtl;
}
