.app-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: relative;

  &.menu-expanded .scene-area {
    width: calc(100vw - var(--panel-width));
  }

  &.loading .r3f-canvas {
    visibility: hidden;
  }

  @media (max-width: 640px) {
    flex-direction: column;

    &.menu-expanded .scene-area {
      width: 100%;
      height: calc(100% - var(--panel-width));
    }
  }
}

.scene-area {
  position: relative;
  height: 100%;
  min-width: 0;
  width: 100%;

  @media (min-width: 641px) {
    order: -1;
  }
}
