/* App Container */
.app-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.app-container.loading .r3f-canvas {
  visibility: hidden;
}

/* Stage Area */
.stage-area {
  position: relative;
  width: 100%;
  height: 100%;
}
