:root {
  /* Typography */
  --font-size-xl: 1.5rem;
  --font-size-l: 1.25rem;
  --font-size-m: 1rem;
  --font-size-s: 0.75rem;
  --font-size-xs: 0.5rem;

  /* Colors */
  --color-1: #070b0f;
  --color-2: #272b2f;
  --color-3: #575b5f;
  --color-4: #e7ebef;
  --color-focus: #ffd700;
  --color-current: #0057b7;
  --color-red: #ea3b05;

  /* Layout */
  --panel-width: 375px;
  --readable-width: 600px;
  --container-width: 1200px;
  --gap: 0.5rem;
  --gap-double: calc(var(--gap) * 2);
  --gap-triple: calc(var(--gap) * 3);
  --gap-half: calc(var(--gap) / 2);
  --gap-reduced: calc(var(--gap) / 3 * 2);
  --icon-size-l: 2rem;
  --icon-size-m: 1.5rem;
  --icon-size-s: 1rem;

  /* Accessories */
  --outline-default: var(--border-width) solid var(--color-focus);
  --shadow-mild: 0px -1px 1px 0px var(--color-2);
  --shadow-strong: 0 0 var(--gap-double) var(--color-1);
  --border-radius: var(--gap);
  --border-radius-small: var(--gap-half);
  --border-radius-balloon: 2rem;
  --border-width-thick: 6px;
  --border-width: 3px;
  --border-width-thin: 1px;
  --border: var(--border-width) solid var(--color-2);
  --border-input: var(--border-width-thin) solid var(--color-4);
  --clear-button-size: var(--icon-size-s);
  --tooltip-tail-size: 1rem;
  --mini-mesha-size: 10rem;
  --transition: 0.5s ease;
}

/* Global scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-3) var(--color-1);
}

/* React-specific styles */
#root {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

/* Elements */
html {
  font-size: calc(16px * var(--label-size-scale, 1));
  font-family: "Roboto Slab", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-1);
}

a {
  color: var(--color-focus);
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button,
.button,
.checkbox-button {
  padding: var(--gap) var(--gap-double);
  background-color: var(--color-3);
  border-radius: var(--border-radius);
  border: none;
  text-decoration: none;
  color: var(--color-4);
  font-size: var(--font-size-m);

  &.has-icon {
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding-left: var(--gap);

    .icon {
      width: var(--font-size-l);
      height: var(--font-size-l);
    }
  }
}

a,
button,
input,
select,
.checkbox-button {
  &:hover,
  &:focus-visible {
    outline: var(--outline-default);
    outline-offset: 1px;
  }
  &:active,
  &.selected,
  &[aria-selected="true"] {
    background: var(--color-current);
  }
}

input[type="range"] {
  width: 100%;
  margin-block: auto;
  appearance: none;
  background: var(--color-3);
  height: var(--gap);
  border-radius: var(--border-radius);
}

input[type="color"] {
  border-radius: var(--border-radius);
  border: var(--border-input);
  background: transparent;
}

input[type="checkbox"],
input[type="radio"] {
  width: var(--gap-triple);
  height: var(--gap-triple);
  margin-block: 0;
  appearance: none;
  background: var(--color-1);
  border: var(--border-input);

  &:checked {
    background-color: var(--color-current);
    border-width: var(--border-width);
  }
}

input[type="checkbox"] {
  border-radius: var(--border-radius-small);
}

input[type="radio"] {
  border-radius: 50%;
}

fieldset {
  border: none;
  border-top: var(--border);
  padding: var(--gap) 0;
  margin-top: var(--gap-double);
  gap: var(--gap);
}

legend {
  color: var(--color-4);
  font-size: var(--font-size-l);
  text-align: center;
}

/* Shared classes and utils */
.close-button {
  position: absolute;
  top: var(--gap);
  right: var(--gap);
  z-index: 1;
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: var(--border-radius);
  font-size: var(--font-size-m);
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.close-button-rtl {
  left: var(--gap);
  right: auto;
}

.close-button svg {
  width: var(--icon-size-m);
  height: var(--icon-size-m);
}

.icon-only-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.checkbox-button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  input:focus-visible + label {
    outline: var(--outline-default);
    outline-offset: 1px;
  }
}

.text-dark {
  color: var(--color-1);
}

.languages-in-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-bottom: var(--gap-half);
}

.indent {
  margin-inline-start: var(--gap-double);
  position: relative;
}

.screenreader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.popover-bubble {
  box-shadow: var(--shadow-strong);
  font-size: var(--font-size-m);
  padding: var(--gap-double);
  white-space: normal;
}
