:root {
  /* Typography */
  --font-size-l: 1.2rem;
  --font-size-m: 0.9rem;
  --font-size-s: 0.8rem;
  --font-size-xs: 0.6rem;

  /* Colors */
  --color-1: #070b0f;
  --color-2: #272b2f;
  --color-3: #575b5f;
  --color-4: #e7ebef;
  --color-focus: #ffd700;
  --color-current: #0057b7;
  --color-error: #ba1b6a;

  /* Layout */
  --panel-width: 375px;
  --readable-width: 600px;
  --container-width: 1200px;
  --gap: 8px;
  --gap-double: calc(var(--gap) * 2);
  --gap-triple: calc(var(--gap) * 3);
  --gap-half: calc(var(--gap) / 2);
  --gap-reduced: calc(var(--gap) / 3 * 2);

  /* Accessories */
  --outline-default: var(--border-width) solid var(--color-focus);
  --shadow-mild: 0px -1px 1px 0px var(--color-2);
  --shadow-strong: 0 0 var(--gap-double) var(--color-1);
  --border-radius: var(--gap);
  --border-radius-small: var(--gap-half);
  --border-width: 3px;
  --border-width-thin: 1px;
  --border: var(--border-width) solid var(--color-2);
  --border-input: var(--border-width-thin) solid var(--color-4);
  --clear-button-size: 20px;
  --modal-offset: 4rem;
  --tooltip-tail-size: 8px;
}

/* Global scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-3) var(--color-1);
}

/* React-specific styles */
#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Elements */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-1);
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--color-focus);
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button,
.button,
.checkbox-button {
  padding: var(--gap) var(--gap-double);
  background-color: var(--color-3);
  border-radius: var(--border-radius);
  border: none;
  text-decoration: none;
  color: var(--color-4);
  font-size: var(--font-size-m);
}

a,
button,
input,
select,
.checkbox-button {
  &:hover,
  &:focus-visible {
    outline: var(--outline-default);
    outline-offset: 1px;
  }
  &:active,
  &.selected,
  &[aria-selected="true"] {
    background: var(--color-current);
  }
}

input[type="range"] {
  width: 100%;
  margin-block: auto;
  appearance: none;
  background: var(--color-3);
  height: var(--gap);
  border-radius: var(--border-radius);
}

input[type="color"] {
  border-radius: var(--border-radius);
  border: var(--border-input);
  background: transparent;
}

input[type="checkbox"],
input[type="radio"] {
  width: var(--gap-triple);
  height: var(--gap-triple);
  margin-block: 0;
  appearance: none;
  background: var(--color-1);
  border: var(--border-input);

  &:checked {
    background-color: var(--color-current);
    border-width: var(--border-width);
  }
}

input[type="checkbox"] {
  border-radius: var(--border-radius-small);
}

input[type="radio"] {
  border-radius: 50%;
}

fieldset {
  border: none;
  border-bottom: var(--border);
  padding: 0 0 var(--gap-double);
  margin-top: var(--gap-double);
}

legend {
  color: var(--color-4);
  margin: 0 0 var(--gap) -2px;
  font-size: var(--font-size-l);
}

/* Shared classes and utils */
.close-button {
  position: absolute;
  top: var(--gap);
  right: var(--gap);
  z-index: 1;
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: var(--border-radius);
  font-size: var(--font-size-m);
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.close-button-rtl {
  left: var(--gap);
  right: auto;
}

.close-button svg {
  width: 24px;
  height: 24px;
}

.checkbox-button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  input:focus-visible + label {
    outline: var(--outline-default);
    outline-offset: 1px;
  }
}

.text-dark {
  color: var(--color-1);
}

.languages-in-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-bottom: var(--gap-half);
}

.indent {
  margin-inline-start: var(--gap-double);
  position: relative;
}

.screenreader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  top: 0;
  left: 0;
}
